#carritoContenido {
    display: none;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 27px;
    width: 400px;
    background-color: #95A7B3 !important;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 10px;
    max-height: 700px; 
    overflow-y: auto; 
    z-index: 5000;
}
#carritoContenido h2 {
    font-size: 1.5em;
    margin-bottom: 10px; /* Agrega espacio debajo del título */
    text-align: center;
    width: 370px;
    color: #ffffff;
    border-bottom: 5px solid #FBBC08;
    position: fixed;
    background: #122732;
    padding: 20px;
}
#carritoContenido ul{
    list-style: none;
    padding-top: 80px;
    padding-bottom: 8px;
    padding-right: -150px;
    align-items: left;
}
#listaCarrito {
    list-style: none;
    padding: 0;
}
#listaCarrito li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: right;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-weight: 900px;
}
#listaCarrito button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: red;
    padding: 5px;
    right: 30px; /* Lo coloca a la derecha */
}
#listaCarrito button:hover {
    transform: scale(1.2);
}
#carrito {
    position: relative;
    cursor: pointer;
}
#carro{
    list-style: none;
}
#carrito:hover #carritoContenido {
    display: block;
    z-index: 3000;
}
#totalCarrito {
    text-align: right;
    font-weight: bold;
    position: sticky;
    bottom: 0;
    background: #122732;
    padding: 10px;
    border-top: 5px solid #FBBC08;
}
#productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    gap: 20px; /* Espacio entre los productos */
    padding: 20px;
    justify-items: center; 
}
.producto{
    background-color: #122732; /* Color de fondo para cada producto */
    padding: 15px;
    color: #F8FAFC;
    border-radius: 8px;
    text-align: left;
    width: 100%;
    max-width: 400px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.producto img{
    width: 75%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.producto ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 5px;
}
.producto li{
    margin-bottom: 5px;
    font-weight: 600;
    padding-top: 3px;
}
.producto button{
    background-color: #C9DCE8;
    color: #122732;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.producto:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3); 
    background-color: #122732b3; 
}
.producto button:hover{
    background-color: #FBBC08;
    transform: scale(1.1);
}
.nombre{
    font-weight: 1000px;
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
}
.imgBorder{
    border: 5px solid #FBBC08;
}