<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Styles/header.css" />
    <link rel="stylesheet" href="Styles/footer.css" />
    <script src="/src/main/resources/static/Functions/header/header.js" defer></script>
</head>
<body>
    <header>
        <nav id="menu">
          <div class="logo">
            <img src="/src/main/resources/static/Resources/logo.jpg" alt="Logo Jurassic Bark" />
            <span class="subtitulo">Jurassic Bark Vet</span>
          </div>
          <button class="menu-hamburguesa">&#9776;</button>
          <ul class="items-navegacion">
            <li><a class="items" href="/src/main/resources/templates/inicio.html">Inicio</a></li>
            <li>
              <a class="items" href="/src/main/resources/templates/sobre_nosotros.html">Sobre Nosotros</a>
            </li>
            <li>
              <a class="items" href="/src/main/resources/templates/servicios.html">Servicios</a>
            </li>
            <li>
              <a class="items" href="/src/main/resources/templates/reserva_online.html">Reserva online</a>
            </li>
          </ul>
          <a href="/src/main/resources/templates/reserva_online.html" class="contacto-btn">Contáctanos</a>
        </nav>
    </header>
    
    <main></main>

    <footer>
        <div class="contenedor-footer">
            <div class="footer-top">
                <div class="logo-footer">
                    <img src="Resources/logo.jpg" alt="Logo Jurassic Bark" />
                    <h1 class="titulo">Jurassic Bark</h1>
                </div>
    
                <div class="menu-footer">
                    <div class="items-interes">
                        <h3>Company</h3>
                        <a href="#">About us</a>
                        <a href="#">Our Team</a>
                        <a href="#">Careers</a>
                        <a href="#">Press</a>
                    </div>
                    <div class="items-interes">
                        <h3>Services</h3>
                        <a href="#">Pet Care</a>
                        <a href="#">Vaccinations</a>
                        <a href="#">Emergency</a>
                        <a href="#">Wellness Plans</a>
                    </div>
                    <div class="items-interes">
                        <h3>Resources</h3>
                        <a href="#">Blog</a>
                        <a href="#">FAQs</a>
                        <a href="#">Pet Adoption</a>
                        <a href="#">Insurance</a>
                    </div>
                    <div class="items-interes">
                        <h3>Contact</h3>
                        <a href="#">Help Center</a>
                        <a href="#">Support</a>
                        <a href="#">Appointments</a>
                        <a href="#">Location</a>
                    </div>
                </div>
            </div>
    
            <div class="footer-bottom">
              <p>&copy; 2025 Jurassic Bark Vet, All rights reserved</p>
              <div class="redes-sociales">
                  <a href="#">
                      <img src="/src/main/resources/static/Resources/1298738_facebook_brand_fb_logo_social media_icon.png" alt="Facebook">
                  </a>
                  <a href="#">
                      <img src="/src/main/resources/static/Resources/1298747_instagram_brand_logo_social media_icon.png" alt="Instagram">
                  </a>
                  <a href="#">
                      <img src="/src/main/resources/static/Resources/3225179_app_logo_media_popular_social_icon.png" alt="Whatsapp">
                  </a>
                  <a href="#">
                      <img src="/src/main/resources/static/Resources/3225183_app_logo_media_popular_social_icon.png" alt="Twitter">
                  </a>
              </div>
          </div>
      </div>
    </footer>
</body>
</html>