<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jurassic Bark</title>
    <link rel="stylesheet" href="Styles/header.css" />
    <link rel="stylesheet" href="Styles/footer.css" />
    <link rel="stylesheet" href="Styles/reserva_online/reservaonline.css" />
    <script src="Functions/reserva/reserva_online.js" defer></script>
</head>

<body>
    <header>
        <nav id="menu">
          <div class="logo">
            <img src="Resources/logo.jpg" alt="Logo Jurassic Bark" />
            <span class="subtitulo">Jurassic Bark Vet</span>
          </div>
          <button class="menu-hamburguesa">&#9776;</button>
          <ul class="items-navegacion">
            <li><a class="items" href="/">Inicio</a></li>
            <li>
              <a class="items" href="/sobre-nosotros">Sobre Nosotros</a>
            </li>
            <li>
              <a class="items" href="/servicios">Servicios</a>
            </li>
            <li>
              <a class="items" href="/reserva">Reserva online</a>
            </li>
          </ul>
          <a href="/reserva" class="contacto-btn">Contáctanos</a>
        </nav>
    </header>
    <main>
        <h1>Agendamiento de consulta para tu mascota</h1>
        <form id="reserva-form">
            <div class="datos-cliente">
                <h2>Reserva Online</h2>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required>

                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono"  required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="tipo_mascota">Tipo Mascota:</label>
                <select id="tipo_mascota" name="tipo_mascota" required>
                    <option value="">Seleccione una opción</option>
                    <option value="perro">Perro</option>
                    <option value="gato">Gato</option>
                </select>

                <div id="raza-container" style="display: none;">
                    <label for="raza">Raza:</label>
                    <input list="lista-razas" id="raza" name="raza">
                    <datalist id="lista-razas"></datalist>
                </div>

                <label for="fecha">Fecha de la Cita:</label>
                <input type="date" id="fecha" name="fecha" required>

                <label for="hora">Hora de la Cita:</label>
                <input type="time" id="hora" name="hora" required>

                <button type="submit">Agendar Cita</button>
            </div>
        </form>
    </main>
     <!-- Footer con tu CSS personalizado -->
     <footer>
      <div class="contenedor-footer">
          <div class="footer-top">
              <div class="logo-footer">
                  <img th:src="@{/resources/logo.jpg}" alt="Logo Jurassic Bark">
                  <h1 class="titulo">Jurassic Bark</h1>
              </div>
  
              <div class="menu-footer">
                  <div class="items-interes">
                      <h3>Company</h3>
                      <a href="#">About us</a>
                      <a href="#">Our Team</a>
                      <a href="#">Careers</a>
                      <a href="#">Press</a>
                  </div>
                  <div class="items-interes">
                      <h3>Services</h3>
                      <a href="#">Pet Care</a>
                      <a href="#">Vaccinations</a>
                      <a href="#">Emergency</a>
                      <a href="#">Wellness Plans</a>
                  </div>
                  <div class="items-interes">
                      <h3>Resources</h3>
                      <a href="#">Blog</a>
                      <a href="#">FAQs</a>
                      <a href="#">Pet Adoption</a>
                      <a href="#">Insurance</a>
                  </div>
                  <div class="items-interes">
                      <h3>Contact</h3>
                      <a href="#">Help Center</a>
                      <a href="#">Support</a>
                      <a href="#">Appointments</a>
                      <a href="#">Location</a>
                  </div>
              </div>
          </div>
  
          <div class="footer-bottom">
              <p>&copy; 2025 Jurassic Bark Vet, All rights reserved</p>
              <div class="redes-sociales">
                  <a href="#">
                  <img src="Resources/Facebook.png" alt="Facebook">
              </a>
              <a href="#">
                  <img src="Resources/Instagram.png" alt="Instagram">
              </a>
              <a href="#">
                  <img src="Resources/Whatsapp.png" alt="Whatsapp">
              </a>
              <a href="#">
                  <img src="Resources/Twitter.png" alt="Twitter">
              </a>
              </div>
          </div>
      </div>
  </footer>
</body>
</html>
