html {
    scroll-behavior: smooth;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #122732;
}

#titulo{
    padding-top: 50px;
    color: #F8FAFC;
    max-width: 1000px;
    margin: 0 auto;
    height: 400px;
}
#titulo h1{
    font-size: 100px;
    margin-bottom: 20px;
}
#titulo h2{
    font-size: 30px;
    margin-bottom: 20px;
}
#titulo p{
    font-size: 20px;
}

.marquesina-texto {
    background-color: #C9DCE8;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: #122732;
    font-weight: bold;
    font-size: 20px;
}

.marquesina-contenedor {
    display: flex;
    gap: 32px;
    animation: scrollText 20s linear infinite;
    width: 100%;
    white-space: nowrap;
}

/* Animación de desplazamiento */
@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
#servicios{
    display: flex;
    justify-content: center;
    background-color: #C9DCE8;
    color: #F8FAFC;
    margin: 0 auto;
    height: 600px;
    width: 1100px;
    border-radius: 15px;
}
.contenedor-servicios {
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 5px;
    justify-content: center !important;
    align-items: center;
    padding: 20px;
}

.texto-servicios {
    position: relative;
    width: 320px; 
    height: 250px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white; 
    padding: 10px;
    transition: transform 0.3s ease; 
    overflow: hidden;
}
.texto-servicios::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
}
.texto-servicios h1 {
    position: relative;
    z-index: 2;
}

.texto-servicios:hover {
    transform: scale(1.05);
}

.texto-servicios:hover::before {
    background: rgba(251, 188, 8, 0.8);
}
.texto-servicios:nth-child(4),
.texto-servicios:nth-child(5) {
    grid-column: span 1;
}


.texto-servicios:nth-child(1) {
    background-image: url("../Resources/servicios/petsupplies.webp");
}

.texto-servicios:nth-child(2) {
    background-image: url("../Resources/servicios/serviciosgrooming.jpg");
}
.texto-servicios:nth-child(3) {
    background-image: url("../Resources/servicios/soporteveterinario.jpg");
}
.texto-servicios:nth-child(4) {
    background-image: url("../Resources/servicios/asistenciadopcion.avif");
    grid-column-start: 2;
}
.texto-servicios:nth-child(5) {
    background-image: url("../Resources/servicios/daycare.jpg");
    grid-column-start: 3;
}

