html {
    scroll-behavior: smooth;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #122732;
}
#carritoContenido {
    display: none;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 27px;
    width: 400px;
    background-color: #95A7B3 !important;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 10px;
    max-height: 700px; 
    overflow-y: auto; 
    z-index: 5000;
}
#carritoContenido h2 {
    font-size: 1.5em;
    margin-bottom: 10px; /* Agrega espacio debajo del título */
    text-align: center;
    width: 370px;
    color: #ffffff;
    border-bottom: 5px solid #FBBC08;
    position: fixed;
    background: #122732;
    padding: 20px;
}
#carritoContenido ul{
    list-style: none;
    padding-top: 100px;
    padding-right: -150px;
    align-items: left;
}
#listaCarrito {
    list-style: none;
    padding: 0;
}
#listaCarrito li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: right;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-weight: 900px;
}
#listaCarrito button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: red;
    padding: 5px;
    position: absolute;
    right: 30px; /* Lo coloca a la derecha */
}
#listaCarrito button:hover {
    transform: scale(1.2);
}
#carrito {
    position: relative;
    cursor: pointer;
}
#carro{
    list-style: none;
}
#carrito:hover #carritoContenido {
    display: block;
    z-index: 3000;
}
#totalCarrito {
    text-align: right;
    font-weight: bold;
    position: sticky;
    bottom: 0;
    background: #122732;
    padding: 10px;
    border-top: 5px solid #FBBC08;
}
#titulo{
    padding-top: 50px;
    color: #F8FAFC;
    max-width: 1000px;
    margin: 0 auto;
    height: 400px;
}
#titulo h1{
    font-size: 100px;
    margin-bottom: 20px;
}
#titulo h2{
    font-size: 30px;
    margin-bottom: 20px;
}
#titulo p{
    font-size: 20px;
}

.marquesina-texto {
    background-color: #C9DCE8;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: #122732;
    font-weight: bold;
    font-size: 20px;
}

.marquesina-contenedor {
    display: flex;
    gap: 32px;
    animation: scrollText 20s linear infinite;
    white-space: nowrap;
}

/* Animación de desplazamiento */
@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
#servicios{
    display: flex;
    justify-content: center;
    background-color: #C9DCE8;
    color: #F8FAFC;
    margin: 0 auto;
    height: 600px;
    width: 1100px;
    border-radius: 15px;
}
.contenedor-servicios {
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 5px;
    justify-content: center !important;
    align-items: center;
    padding: 20px;
}

.texto-servicios {
    position: relative;
    width: 320px; 
    height: 250px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white; 
    padding: 10px;
    transition: transform 0.3s ease; 
    overflow: hidden;
}
.texto-servicios::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
}
.texto-servicios h1 {
    position: relative;
    z-index: 2;
}

.texto-servicios:hover {
    transform: scale(1.05);
}

.texto-servicios:hover::before {
    background: rgba(251, 188, 8, 0.8);
}
.texto-servicios:nth-child(4),
.texto-servicios:nth-child(5) {
    grid-column: span 1;
}


.texto-servicios:nth-child(1) {
    background-image: url("../Resources/petsupplies.webp");
}

.texto-servicios:nth-child(2) {
    background-image: url("../Resources/serviciosgrooming.jpg");
}
.texto-servicios:nth-child(3) {
    background-image: url("../Resources/soporteveterinario.jpg");
}
.texto-servicios:nth-child(4) {
    background-image: url("../Resources/asistenciadopcion.avif");
    grid-column-start: 2;
}
.texto-servicios:nth-child(5) {
    background-image: url("../Resources/daycare.jpg");
    grid-column-start: 3;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 150px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
.modal-content {
    background-color: #C9DCE8;
    padding: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 110px;
    width: 1200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1001;
    max-height: 600px;
    overflow-y: auto; 
}
.modal-content h2{
    font-size: 50px;
    color: #122732;
}
.close {
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}
#productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    gap: 20px; /* Espacio entre los productos */
    padding: 20px;
    justify-items: center; 
}
.producto{
    background-color: #122732; /* Color de fondo para cada producto */
    padding: 15px;
    color: #F8FAFC;
    border-radius: 8px;
    text-align: left;
    width: 100%;
    max-width: 400px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.producto img{
    width: 75%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.producto ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 5px;
}
.producto li{
    margin-bottom: 5px;
    font-weight: 600;
    padding-top: 3px;
}
.producto button{
    background-color: #C9DCE8;
    color: #122732;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.producto:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3); 
    background-color: #122732b3; 
}
.producto button:hover{
    background-color: #FBBC08;
    transform: scale(1.1);
}
.nombre{
    font-weight: 1000px;
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
}
.imgBorder{
    border: 5px solid #FBBC08;
}